// {
//   "presets": [
//     [
//       "@babel/preset-env",
//       {
//         "targets": {
//           "chrome": "72"
//         },
//       }
//     ]
//   ],
//   "plugins": []
// }
{
  "presets": [
      "env"
  ],
  "plugins": [
      "transform-object-rest-spread"
  ]
}
